        
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #ffdde0;
    padding: 30px;
    
    
  }
  
  .start-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  #start-button,
  #restart {
    font-size: 1.3em;
    padding: 0.2em 1.8em;
    border-radius: 0.2em;
  }
  
  #restart {
    margin-top: 0.9em;
  }
  
  #display-container {
    background-color: #ffffff;
    padding: 6.1em 1.8em;
    width: 90%; /* Alterado para 90% para telas menores */
    max-width: 37.5em;
    margin: 0 auto;
    border-radius: 0.6em;
    margin-top: 3em; /* Espaçamento extra na parte superior */
  }
  
  .header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
  }
  
  .timer-div {
    background-color: #e1f5fe;
    width: 7em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
  }
  .timer-div img {
    width: 2em; /* Defina o tamanho desejado para a imagem */
    height: auto; /* Mantenha a altura automática para manter a proporção */
  }
  
  .question {
    margin-bottom: 1.25em;
    font-weight: 600;
  }
  
  .option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
  }
  
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }
  
  #next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #0a69ed;
    color: #ffffff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
  }
  
  .hide {
    display: none;
  }
  
  .incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  
  .correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
  }
  
  #user-score {
    font-size: 1.5em;
    color: #000000;
  }
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
caption {
    font-size: 1.2em;
    margin: 10px;
}



.titulo {
    font-family: 'Harry Potter', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #333; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
  }

  .frase{
    font-variant: small-caps;
  font-size: 28px;
  margin-top: -25px;
  text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .titulo {
      font-size: 24px; /* Ajuste o tamanho da fonte para telas muito pequenas */
    }
    
    .frase {
      font-size: 18px; /* Ajuste o tamanho da fonte para telas muito pequenas */
    }
    
    #display-container {
      padding: 1em; /* Reduza ainda mais o padding para telas muito pequenas */
    }
    
    .option-div {
      font-size: 0.8em; /* Reduza o tamanho da fonte para telas muito pequenas */
      padding: 0.6em; /* Reduza o padding ainda mais para telas muito pequenas */
    }
    
    #next-button {
      font-size: 0.9em; /* Reduza o tamanho da fonte para telas muito pequenas */
      padding: 0.6em 1.2em; /* Reduza o padding para telas muito pequenas */
    }
  }